*{
  border-radius: 5px;
  border: none;
}
window {
  font-size: 12px;
  font-family: "Awesome";
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
  border-bottom: 3px solid white;
  
}

#entry{
  padding: 0.25em;
}
#entry:selected {
  background-color: #bbdddc;
  background: linear-gradient(90deg, #bbccdd, #21904f);
}

#text:selected {
  color: #333333;
}
#input{
  background-color: rgba(50, 50, 50, 0.5);
  color: white;
  padding: 0.25em;
  box-shadow: none;
}
image{
  margin-left: .25em;
  margin-right: .25em;
}
